---
layout: default
pagination: 
  enabled: true
---

                {% for post in site.posts %}
                <article>
                    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                    <div class="post-meta">
                        <span>{{ post.date | date: "%b %-d, %Y" }}</span>
                        <span>
                            {% for category in post.categories %}
                                #{{ category }}
                            {% endfor %}
                        </span>
                    </div>
                    <p>
                        {{ post.excerpt }}
                    </p>
                    <a href="{{ post.url }}" class="read-more">Read More →</a>
                </article>
                {% endfor %}
